@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.fundo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Poppins;
}

.calculadora {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 25px;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    /* background-color: rgb(31, 31, 31); */
    border: none;
    color: white;
}

/* .btn:hover {
    background-color: black;
} */

#resultado {
    background-color: white;
    width: 202px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Poppins;
    border-radius: 25px;
}